<%- include("partials/header") %> 
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Walker's and Asa's CS database</h1>
            <p>Choice code, enjoy.</p>
            <p>
                <a class="btn btn-primary btn-large" href="">Add new assignment</a>
            </p>
        </div>
    </header>
</div>
<a href="/assignments">View all assignments</a>
<%- include("partials/footer") %> 